# {{ ansible_managed }}
[Interface]
Address = {{ wg_ip }}/32
PrivateKey = {{ wg_privatekey['content'] | b64decode | replace('\n', '') }}
{% for host in groups['all'] %}
{% if hostvars[host].wg_type == 'server' %}

# {{ host }}
[Peer]
PublicKey = {{ hostvars[host].wg_publickey['content'] | b64decode | replace('\n', '') }}
AllowedIPs = {{ wg_subnet_prefix }}.0/24
Endpoint = {{ hostvars[host].ansible_default_ipv4.address }}:{{ wg_port }}
PersistentKeepalive = 25
{% endif %}
{% endfor %}
