# {{ ansible_managed }}
[Interface]
Address = {{ wg_ip }}/32
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_privatekey['content'] | b64decode | replace('\n', '') }}
{% for host in groups['all'] %}
{% if hostvars[host].wg_type == 'client' %}

# {{ host }}
[Peer]
PublicKey = {{ hostvars[host].wg_publickey['content'] | b64decode | replace('\n', '') }}
AllowedIPs = {{ hostvars[host].wg_ip }}/32
{% endif %}
{% endfor %}
